# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS files
/.vs
/enc_temp_folder/b8dbbab4f890448a60ab9d91540967b
/polpolte.21d4c6ee/x64/Debug
/vcpkg_installed
/x64/Debug
*/x64/Debug
*.xml
/packages
